{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row['shareSymbol']}}</td>
                <td>{{row['amountOfShares']}}</td>
                <td>{{row['currentPricePerShare']|usd}}</td>
                <td>{{row['timestamp']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}